:root {
  /* Colores principales */
  --color-primary: #9e0d0d;
  --color-secondary: #6c757d;
  --color-fondo-body: #f8f9fa;
  --color-primary-transparent: rgba(177, 11, 11, 0.6); /* 60% opacidad */
  --color-dark: #1B1B1B;

  /* Colores secundarios */
  --color-light-bg: #F4F4F4;
  --color-text: #2C2C2C;
  --color-border: #B0B0B0;

  /* Estados */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-link: #007bff;
}

.navbar-custom {
    background-color: var(--color-dark);
}
.navbar-brand, .nav-link, .navbar-text {
    color: white !important;
}

.nav-item:hover > .nav-link {
    background-color: var(--color-primary-transparent);
    border-radius: 0.375rem;
}

.nav-item.dropdown.active > .nav-link.dropdown-toggle {
    background-color: var(--color-primary-transparent);
    color: white !important;
    font-weight: bold;
    border-radius: 0.375rem;
}

/* Estilo para el item activo del dropdown */
.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent !important;
    color: inherit !important;
}

/* Ãconos dentro del dropdown activo (opcional) */
.nav-item.dropdown.active > .nav-link.dropdown-toggle i {
    color: white;
}

body { 
    background-color: var(--color-fondo-body);
}

.titulo {
    color: var(--color-primary);
}

.form-section {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-title {
    border-bottom: 2px solid var(--color-dark);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.form-control, .form-select {
    background-color: var(--color-fondo-body);
    border: 1px solid var(--color-secondary);
}

.table-sm td, .table-sm th {
    padding: 0.3rem;
}

#articulo_suggestions {
    top: 100%; /* justo debajo del input */
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
}



